* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {

}
body {
	background: #F1F1F1;
	color: #6F6C68;
	font-family: "Segoe UI", Sans-Serif;
}
aside {
	float: left;
	background: #4C4743;
	color: #979694;
	width: 15%;
	min-width: 150px;
	min-height: 200px;
	padding-top: 30px;
}

table td {
	padding: 5px 15px;
}
table thead tr td {
	font-weight: 600;
}
table tr td a {
	text-decoration: none;
	padding: 0px 5px;
}
table tr td a i {
	margin-right: 5px;
}

.nav li {
	padding: 10px 25px;
}
.nav li.nav-title {
	font-weight: 600;
}
.nav li a {
	color: #979694;
	text-decoration: none;
}
.nav li i {
	padding-right: 10px;
}
.nav li span.job-category-badge {
	display: inline-block;
	background: #333;
	color: #fff;
	font-size: 8pt;
	float: right;
	width: auto;
	min-width: 15px;
	height: 15px;
	border-radius: 25%;
	text-align: center;
	margin-top: 5px;
}

.container {
	float: left;
	background: #FBFBFB;
	min-width: 100px;
	min-height: 100px;
	padding: 15px;
	margin: 1%;
	border-radius: 6px;
}
.container.xsmall {
	width: 18%;
}
.container.small {
	width: 23%;
}
.container.medium {
	width: 48%;
}
.container.large {
	width: 73%;
}
.container.full {
	width: 98%;
}
.container-title-bar {
	border-bottom: #F1F1F1 solid 1px;
	padding-bottom: 10px;
	font-weight: 600;
	color: #444;
}
.container-title-bar span {

}